In [2]:
-- feladat1
SELECT *,
        IIF(MONTH(METTOL) IN (6, 7, 8), 'IGEN', 'NEM') AS 'Nyári-e'
FROM Foglalas
WHERE Ugyfel_fk = 'laszlo2' AND gyermek_szam = 0

FOGLALAS_PK,UGYFEL_FK,SZOBA_FK,METTOL,MEDDIG,FELNOTT_SZAM,GYERMEK_SZAM,Nyári-e
561,laszlo2,42,2016-04-06,2016-04-10,2,0,NEM

In [ ]:
-- feladat2
SELECT szh.TIPUS, YEAR(f.METTOL) AS 'Év', 
                  MONTH(f.METTOL) AS 'Hónap',
                  COUNT(*)
FROM Foglalas f JOIN Szoba sz ON f.SZOBA_FK = sz.SZOBA_ID 
                JOIN Szallashely szh ON sz.SZALLAS_FK = szh.SZALLAS_ID
WHERE DATEDIFF(day,f.METTOL, f.MEDDIG) >=5
GROUP BY szh.TIPUS, YEAR(f.METTOL), MONTH(f.METTOL)